<section id="education" class="section-content bg1">
  <div class="container">
    <!-- Section title -->
    <div class="section-title item_bottom text-center" style="opacity: 1; bottom: 0px;">
      <h1>Educa<i>ción</i></h1>
      <p class="tagline">Education is the key to unlock the golden door of freedom.</p>
      <div>
        <span class="line-large"></span>
      </div>
      <div class="btn-toolbar justify-content-center" role="toolbar" *ngIf="isLogged">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-success rounded-circle" data-bs-toggle="modal" data-bs-target="#modal-nueva-educacion">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- End Section title -->

    <!-- Container Text -->
    <div class="row">
      <div *ngFor="let educacion of educaciones" class="col-md-12 col-sm-12 edu-new-line">
        <!-- Education 1-->
        <div class="education item_left" style="opacity: 1; left: 0px;">
          <div class="edu-grade text-center justify-content-center">
            <h5>{{educacion.fechaInicio}} - {{educacion.fechaFin}}</h5>
          </div>
          <div class="edu-post">
            <div class="d-flex justify-content-start align-items-center">
              <h4 class="mb-0 me-2">{{educacion.nombreEduc}}</h4>
              <div class="btn-toolbar" role="toolbar" *ngIf="isLogged">
                <div class="btn-group me-2 btn-group-sm" role="group" aria-label="First group">
                  <button (click)="obtenerUnaEducacion(educacion.id!)" type="button" class="btn btn-warning rounded-circle">
                    <i class="bi bi-pencil-fill"></i>
                  </button>
                </div>
                <div class="btn-group btn-group-sm" role="group" aria-label="Second group">
                  <button (click)="borrar(educacion.id!)" type="button" class="btn btn-danger rounded-circle">
                    <i class="bi bi-trash3-fill"></i>
                  </button>
                </div>
              </div>
            </div>
            <h6>{{educacion.institucionEduc}}</h6>
            <p>{{educacion.descripcionEduc}}</p>
          </div>
        </div>
        <!-- End Education 1-->
      </div>
    </div>
    <!-- End Container Text -->
  </div>
</section>
<app-nueva-educacion></app-nueva-educacion>
<app-actualizar-educacion [idSeleccionado]="idSeleccionado"></app-actualizar-educacion>
