<section>
  <div class="container">
      <div class="section-title text-center">
        <h1>Hard & Soft <i>Skills</i></h1>
        <p class="tagline">Education is the key to unlock the golden door of freedom.</p>
        <div>
          <span class="line-large"></span>
        </div>
      </div>
      <div class="btn-toolbar justify-content-center" role="toolbar" *ngIf="isLogged">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-success rounded-circle" *ngIf="isLogged" [skipLocationChange]='true' [routerLink]="['',{ outlets: { modal: ['skills','nueva'] } }]"><i class="bi bi-plus-lg"></i></a>
        </div>
      </div>
      <div class="row">
        <h4>Hard Skills</h4>
        <div class="d-flex justify-content-center align-items-center flex-wrap">
          <div *ngFor="let habilidad of hardSkills">
            <circle-progress
                [percent]="(habilidad.porcentajeHys)"
                [radius]="70"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#198754'"
                [innerStrokeColor]="'#2bc17c'"
                [animation]="true"
                [animationDuration]="300"
                [titleFontSize]="'16'"
                [subtitle]="(habilidad.nombreHys)"
                [subtitleColor]="'#000'"
                [subtitleFontSize]="'18'"
            ></circle-progress>
            <div class="btn-toolbar justify-content-center" role="toolbar" *ngIf="isLogged">
              <div class="btn-group me-2 btn-group-sm" role="group" aria-label="First group">
                <a type="button" class="btn btn-warning rounded-circle" *ngIf="isLogged" [skipLocationChange]='true' [routerLink]="['',{ outlets: { modal: ['skills','actualizar', habilidad.id] } }]"><i class="bi bi-pencil-fill"></i></a>
              </div>
              <div class="btn-group btn-group-sm" role="group" aria-label="Second group">
                <button type="button" class="btn btn-danger rounded-circle" (click)="borrar(habilidad.id!)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 15px;">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <h4>Soft Skills</h4>
        <div class="d-flex justify-content-center align-items-center flex-wrap">
          <div *ngFor="let habilidad of softSkills">
              <circle-progress
                  [percent]="(habilidad.porcentajeHys)"
                  [radius]="70"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="8"
                  [outerStrokeColor]="'#fc6f5c'"
                  [innerStrokeColor]="'#f5a095'"
                  [animation]="true"
                  [animationDuration]="300"
                  [titleFontSize]="'16'"
                  [subtitle]="(habilidad.nombreHys)"
                  [subtitleColor]="'#000'"
                  [subtitleFontSize]="'18'"
              ></circle-progress>
              <div class="btn-toolbar justify-content-center" role="toolbar" *ngIf="isLogged">
                <div class="btn-group me-2 btn-group-sm" role="group" aria-label="First group">
                  <a type="button" class="btn btn-warning rounded-circle" *ngIf="isLogged" [skipLocationChange]='true' [routerLink]="['',{ outlets: { modal: ['skills','actualizar', habilidad.id] } }]"><i class="bi bi-pencil-fill"></i></a>
                </div>
                <div class="btn-group btn-group-sm" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-danger rounded-circle" (click)="borrar(habilidad.id!)">
                    <i class="bi bi-trash3-fill"></i>
                  </button>
                </div>
              </div>
          </div>
        </div>
      </div>

  </div>
</section>
