<section class="fixed-top bg-dark">
  <div class="container">
    <div class="d-flex justify-content-center justify-content-md-between align-items-center flex-wrap">
      <div class="logo">
        <img id="logoAP" src="../../../assets/logoAP.png" alt="Logo Argentina
          Programa-INTI">
      </div>
      <div class="redes d-flex align-items-center">
        <div class="social-links text-center">
          <a target="_blank" href="https://www.facebook.com/GonzaNaveda21" class="facebook">
            <i class="bi bi-facebook"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/gonzanaveda23/" class="instagram">
            <i class="bi bi-instagram"></i>
          </a>
          <a target="_blank" href="https://wa.me/5492645013993?text=Hola Gonza! Me gustaría charlar sobre una propuesta laboral!!" class="google-plus">
            <i class="bi bi-whatsapp"></i>
          </a>
        </div>
        <button type="button" class="btn btn-outline-light btn-sm"
          (click)="login()" *ngIf="!isLogged">Ingresar</button>
        <button type="button" class="btn btn-outline-light btn-sm"
          (click)="onLogout()" *ngIf="isLogged">Salir</button>
      </div>
    </div>
  </div>
</section>
