section {
  padding: 40px 0;
}
section h3 {
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.section-title h1,
.section-title h2,
.section-title h3 {
  text-transform: uppercase;
  color: #1e1e1e;
  font-weight: 700;
  display: inline-block;
}
.section-title h1 {
  font-size: 46px;
  letter-spacing: -2px;
  margin: 10px 0px 0px 0px;
}

.section-title h1 i {
  font-style: normal;
  color: #fc6f5c;
}

.section-title .line-large {
  width: 75px;
  background: #fc6f5c;
  height: 3px;
  margin: 5px;
}
.section-title div span {
  display: inline-block;
  color: #cccccc;
  text-transform: uppercase;
}
.section-title .tagline {
  margin-bottom: 0;
}


/* etiqueta de nombre */
.miNombre {
    font-weight: bold;
    margin-top: 15%;
    margin-bottom: 0;
}
#fotoDePerfil {
  z-index: 999;
}
/* foto de perfil */
@media(min-width: 576px) {
  #fotoDePerfil {
    position: absolute;
    width: 12%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    left: 10%;
    top: 550px;
  }
}

@media(max-width: 575px) {
  .miNombre {
    margin-top: 28%;
}
  .section-title h1 {
    font-size: 30px;
  }
  .section-title .tagline {
    font-size: 12px;
  }
  #fotoDePerfil {
    position: absolute;
    width: 34%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    left: 32%;
    top: 313px;
  }
}
