<section>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img [src]="persona.img ? persona.img : '../../assets/default-profile-image.png'" alt="FotoPerfil" class="img-fluid" id="fotoDePerfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
            <p class="miNombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p>{{persona.titulo}}</p>

        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 section-title">
            <span>
                <div class="d-flex justify-content-between flex-wrap align-items-center">
                  <h1>Acerca de <i>Mí</i></h1>
                  <a type="button" class="btn btn-warning rounded-circle" *ngIf="isLogged" [skipLocationChange]='true' [routerLink]="['',{ outlets: { modal: ['acercade','edit', persona.id] } }]"><i class="bi bi-pencil-fill"></i></a>
                </div>
                <p class="tagline">La creatividad es la inteligencia divirtiéndose.</p>
                <div>
                  <span class="line-large"></span>
                </div>
                <div class="row mt-1">
                    <p>{{persona.descripcion}}</p>
                </div>
            </span>
        </div>
    </div>
  </div>
</section>
