<section>
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img [src]="persona.img ? persona.img : '../../assets/default-profile-image.png'" alt="FotoPerfil" class="img-fluid" id="fotoDePerfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
            <p class="miNombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p>{{persona.titulo}}</p>

        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 section-title">
            <span>
                <div class="d-flex justify-content-between flex-wrap align-items-center">
                  <h1>Acerca de <i>Mí</i></h1>
                  <a type="button" class="btn btn-warning rounded-circle" *ngIf="isLogged" [skipLocationChange]='true' [routerLink]="['',{ outlets: { modal: ['acercade','edit', persona.id] } }]"><i class="bi bi-pencil-fill"></i></a>
                </div>
                <p class="tagline">Education is the key to unlock the golden door of freedom.</p>
                <div>
                  <span class="line-large"></span>
                </div>
                <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                <div class="row mt-1">
                    <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </div>
            </span>
        </div>
    </div>
  </div>
</section>
